html{
	background-image:url("https://www.xmple.com/wallpaper/grey-black-spots-polka-dots-1920x1080-c2-000000-778899-l2-17-26-a-135-f-3.svg"); 
}
.me{
	margin: 0 auto;
	width: 80%;
	background-color:rgba(0,151,19,0.6);
	padding: 20px;

}
h1{
	color:white;
	text-decoration: blink;
	text-align: center;
}
p{
	font-size: 18px;
	color:white;
	text-align: center;
}