body{
font-family:dubai-medium;
font-weight: bold;
background-attachment: fixed;
color: #ffdf2d;
background-image: url(https://i.gifer.com/KMQd.gif);
}
table{
border:3px solid white;
margin:0 auto;
width:40%;
cell-margin:10px;
background-color: rgba(12,90,120,0.5);

}
tr,th,td{ border:2px solid white;
}
h1{
text-decoration:underline;
}
